footer {
  background-color: var(--color-background);
  margin-top: 20px;
}

.footer-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-text {
  color: var(--Text-secondary);
  font-family: "Bubbler One";
  font-size: 20px;
  padding-bottom: 20px;

  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (min-width: 1200px) {
  .footer-content ul {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .footer-content ul li {
    display: flex;
    align-items: center;
  }

  .confidentiality-icon {
    flex: 1;
    justify-content: space-between;
  }
}

.footer-icon {
  display: flex;
  gap: 12px;
}

.confidentiality-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-line hr {
  border: none;
  height: 1px;
  background-color: var(--Text-secondary);
}

.footer-copyrights {
  color: var(--Text-secondary, #000);
  font-family: "Bubbler One";
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  footer {
    margin-top: 40px;
  }

  .footer-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-text {
    padding-bottom: 40px;
  }
  .footer-copyrights {
    margin-bottom: 40px;
  }
}
