.god-day-article {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  border: 2px solid var(--Text-main);
  margin-bottom: 20px;
  .god-day-article-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 24px;

    .god-day-article-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }

    h3 {
      color: var(--Text-main);
      font-size: 16px;
    }
    h2 {
      color: var(--Text-main);
      font-size: 24px;
    }

    p {
      font-family: "Bubbler One";
      font-size: 20px;
    }
  }
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  a {
    color: var(--Text-main, #515050);
    font-family: "Bubbler One";
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 17.5%; /* 3.5px */
    text-underline-position: from-font;
  }
}

a:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .god-day-article {
    margin-bottom: 40px;
  }
}
