header {
  background-color: var(--color-background);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: var(--Background-components);
  padding-top: 20px;
  padding-bottom: 20px;
  .header-logo {
    color: var(--Text-secondary);
    font-family: "Caesar Dressing";
    font-size: 40px;
  }
  button {
    color: var(--CoolGray-90);
  }
}

html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}
