* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  --Text-secondary: #000000;
  --CoolGray-90: #21272a;
  --Background-components: #bcbfc3;
  --Text-main: #515050;
  --Blue: #279ef8;
  --Yellow: #f8af27;
  --Green: #12965d;
  --Red: #f82727;
  --color-background: yellow;
}
html[data-theme="dark"] {
  --color-background: blue;
}

h1 {
  color: var(--Text-main);
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 24px;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Caesar Dressing";
  font-weight: 400;
}

button {
  all: unset;
}

p {
  font-family: "Bubbler One";
}
